<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                <li class="mdl-menu__item" ng-click="goToHelp()">
                    <span>المساعدة</span>
                </li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                    <span>الملف الشخصي</span>
                </li>
                <li class="mdl-menu__item" ng-click="logout()">
                    <span>تسجيل الخروج</span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" style="margin-top: 10px">

            <div ui-view="incomingOperations"></div>

            <div ui-view="outgoingOperations"></div>

            <div ui-view="incomingTasks"></div>

            <div ui-view="outgoingTasks"></div>

            <div ui-view="closeRequests"></div>

            <div ui-view="closedSoonIncoming"></div>

            <div ui-view="closedSoonOutgoing"></div>

        </div>

    </main>

</div>