<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">البيانات الاساسية</div>
                    <div class="panel-body">

                        <div class="form-group text-right col-md-12" ng-show="form.$invalid && form.$submitted">
                            <div class="alert alert-danger" role="alert">
                                <strong>فضلاً اكمل الحقول المطلوبة</strong>
                            </div>
                        </div>

                        <div class="form-group text-right col-md-12">
                            <label for="branch" class="control-label">الفرع</label>
                            <select id="branch"
                                    data-placeholder="ابحث عن الفرع"
                                    no-results-text="'لا توجد بيانات توافق بحثك'"
                                    placeholder-text-single="'اختر الفرع'"
                                    class="form-control text-right"
                                    chosen=""
                                    ng-model="department.branch"
                                    focus-index="1"
                                    required="required"
                                    ng-disabled="action=='update'"
                                    disable-validation-message=""
                                    ng-options="branch.name group by branch.company.name for branch in branches track by branch.id">
                            </select>
                        </div>

                        <div class="form-group text-right col-md-12">
                            <label for="person" class="control-label"> المدير</label>
                            <select id="person"
                                    data-placeholder="ابحث عن حساب المستخدم من خلال الاسم"
                                    no-results-text="'لا توجد بيانات'"
                                    placeholder-text-single="'اختر حساب المستخدم'"
                                    class="form-control text-right"
                                    chosen=""
                                    ng-model="department.manager"
                                    required="required"
                                    disable-validation-message=""
                                    ng-options="person.name for person in persons track by person.id">
                            </select>
                        </div>

                        <div class="form-group text-right col-md-12">
                            <label for="name" class="control-label">اسم القسم</label>
                            <input id="name"
                                   type="text"
                                   focus-index="3"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control"
                                   ng-model="department.name">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">

        <div class="form-group col-md-12" role="group">
            <button type="button"
                    focus-index="5"
                    ng-click="cancel()"
                    class="btn btn-danger pull-left">
                <span>خروج</span>
                <i class="fa fa-power-off  fa-lg"></i>
            </button>
            <button type="reset"
                    focus-index="4"
                    class="btn btn-info pull-left">
                <span>مسح الحقول</span>
                <i class="fa fa-recycle  fa-lg"></i>
            </button>
            <button ng-show="action=='update'"
                    type="submit"
                    focus-index="3"
                    class="btn btn-warning pull-right">
                <span>تعديل</span>
                <i class="fa fa-edit fa-lg"></i>
            </button>
            <button ng-show="action=='create'"
                    type="submit"
                    focus-index="2"
                    class="btn btn-success pull-right">
                <span>اضافة</span>
                <i class="fa fa-plus-square fa-lg"></i>
            </button>
        </div>

    </div>

</form>