<div dir="rtl">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">تفاصيل المهمة / {{task.title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>البيانات الاساسية</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>رقم المهمة</td>
                                <td>{{task.code}}</td>
                            </tr>
                            <tr>
                                <td>عنوان المهمة</td>
                                <td>{{task.title}}</td>
                            </tr>
                            <tr>
                                <td>تفاصيل المهمة</td>
                                <td>{{task.content}}</td>
                            </tr>
                            <tr>
                                <td class="fit">الحد الأقصى للتحذيرات</td>
                                <td>{{task.warn}}</td>
                            </tr>
                            <tr>
                                <td>مقدار الحسم</td>
                                <td>{{task.deduction}} ريال سعودي</td>
                            </tr>
                            <tr>
                                <td>تاريخ الإنشاء</td>
                                <td>{{task.startDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                </td>
                            </tr>
                            <tr>
                                <td>تاريخ التسليم</td>
                                <td>{{task.endDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                </td>
                            </tr>
                            <tr>
                                <td>جهة التكليف</td>
                                <td>{{task.person.nickname}} / {{task.person.name}}</td>
                            </tr>
                            <tr>
                                <td>الموظفون</td>
                                <td>
                                    <span class="label label-info"
                                          ng-repeat="to in task.taskTos"
                                          style="margin: 2px">{{to.person.name}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" tooltip-append-to-body="true" ng-if="task.person.id===me.id"
                                   ng-click="openClosedModel()" uib-tooltip="إغلاق المهمة لموظف">
                                    <span class="fa fa-power-off"></span>
                                </a>
                                <a href="" tooltip-append-to-body="true" ng-if="task.person.id===me.id"
                                   ng-click="findTaskOperations()" uib-tooltip="حذف موظف من التكليف">
                                    <span class="fa fa-remove"></span>
                                </a>
                                <a href="" tooltip-append-to-body="true" ng-if="task.person.id===me.id"
                                   ng-click="findTaskOperations()" uib-tooltip="تكليف موظف جديد">
                                    <span class="fa fa-plus"></span>
                                </a>
                                <a href="" tooltip-append-to-body="true" ng-if="task.person.id===me.id"
                                   ng-click="openClearWarnsAndDeductionsModel()" uib-tooltip="تصفير العدادات">
                                    <span class="fa fa-eraser"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>متابعة الموظفين المكلفين</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionTaskTos" st-safe-src="task.taskTos"
                                   class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">م</th>
                                    <th class="text-center" st-sort="person.name">اسم الموظف</th>
                                    <th class="text-center">عدد التحذيرات</th>
                                    <th class="text-center">عدد الخصومات</th>
                                    <th class="text-center">إجمالي الخصومات</th>
                                    <th class="text-center" st-sort="progress">معدل إنجاز العمل</th>
                                    <th class="text-center">عدد طلبات الإغلاق</th>
                                    <th st-sort="closeDate" class="text-center">تاريخ الإغلاق</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="taskTo in collectionTaskTos">
                                    <td>{{$index+1}}</td>
                                    <td>{{taskTo.person.nickname}} / {{taskTo.person.name}}</td>
                                    <td>{{(task.taskOperations | filter:{type:2, sender:taskTo.person}).length}}</td>
                                    <td>{{(task.taskOperations | filter:{type:3, sender:taskTo.person}).length}}</td>
                                    <td>{{(task.taskOperations | filter:{type:3, sender:taskTo.person}).length *
                                        task.deduction | currency:"SAR"}}
                                    </td>
                                    <td>% {{taskTo.progress}}</td>
                                    <td>{{(task.taskCloseRequests | filter:{person:taskTo.person}).length}}</td>
                                    <td>{{taskTo.closeDate ? (taskTo.closeDate | kdate: 'yyyy-mm-dd' : 'ar' :
                                        'ummalqura') : '---'}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collectionTaskTos || collectionTaskTos.length ==0">
                                    <td colspan="8">لا توجد بيانات</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="findTaskOperations()" uib-tooltip="تحديث">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>الحركات / المرفقات</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionOperation" st-safe-src="task.taskOperations"
                                   class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="code" class="text-center fit">رقم الحركة</th>
                                    <th st-sort="sender.name" class="text-center">المرسل</th>
                                    <th st-sort="date" st-sort-default="reverse" class="text-center fit">التاريخ
                                        والوقت
                                    </th>
                                    <th st-sort="content" class="text-center">التعليق</th>
                                    <th st-sort="date" class="text-center fit">الوقت المنقضي</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="taskOperation in filteredCollection = (collectionOperation | filter:{type:1})"
                                    ng-class="{'info':(taskOperation.sender.id===me.manager.id && taskOperation.type===1), 'warning':taskOperation.type===2, 'danger':taskOperation.type===3}">
                                    <td>{{taskOperation.code}}</td>
                                    <td class="fit">{{taskOperation.sender.nickname}} / {{taskOperation.sender.name}}
                                    </td>
                                    <td st-select-row-custom="taskOperation">
                                        {{taskOperation.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                        <span class="label label-success">{{taskOperation.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{taskOperation.content}}
                                        <span ng-repeat="taskOperationAttach in taskOperation.taskOperationAttaches"><a
                                                uib-tooltip="{{taskOperationAttach.name}}" tooltip-append-to-body="true"
                                                href="" ng-href="{{taskOperationAttach.link}}" target="_blank"><i
                                                class="fa fa-link fa-lg"></i></a></span>
                                    </td>
                                    <td class="fit">
                                        <timer interval="60000" start-time="taskOperation.date"><span> {{(minutes < 1 && hours < 1 && days < 1 )? 'الآن' : 'منذ'}} </span>
                                            {{days > 0 ? days : ''}} {{days > 0 ? 'يوم' : ''}} {{hours > 0 ? hours :
                                            ''}} {{hours > 0 ? 'ساعة' : ''}} {{minutes > 0 ? minutes : ''}} {{minutes >
                                            0 ? 'دقيقة' : ''}}
                                        </timer>
                                    </td>
                                </tr>
                                <tr class="blank_row"
                                    style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!filteredCollection || filteredCollection.length ==0">
                                    <td colspan="5">لا توجد حركات</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="form-group col-md-12" role="group">
            <button type="button"
                    ng-click="cancel()"
                    class="btn btn-danger pull-left">
                <span>خروج</span>
                <i class="fa fa-power-off  fa-lg"></i>
            </button>
            <button type="button"
                    ng-click="openCreateOperationModel()"
                    class="btn btn-success">
                <i class="fa fa-clock-o fa-lg"></i>
                <span>اضافة حركة جديدة</span>
            </button>
            <button type="button"
                    ng-click="openProgressModel()"
                    class="btn btn-warning">
                <i class="fa fa-hourglass-2 fa-lg"></i>
                <span>تحديد نسبة الإنجاز</span>
            </button>
            <button type="button"
                    ng-click="openRequestCloseModel()"
                    class="btn btn-danger">
                <i class="fa fa-power-off fa-lg"></i>
                <span>طلب إغلاق</span>
            </button>
            <button type="button"
                    ng-click="openReportTaskOperationsModel()"
                    class="btn btn-primary">
                <i class="fa fa-print fa-lg"></i>
                <span>طباعة تقرير الحركات</span>
            </button>
        </div>

    </div>

</div>