<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">تمديد الفترة الزمنية لاستلام مهمة</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-md-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group text-right col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>البيانات الاساسية</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>رقم المهمة</td>
                                <td>{{task.code}}</td>
                            </tr>
                            <tr>
                                <td>عنوان المهمة</td>
                                <td>{{task.title}}</td>
                            </tr>
                            <tr>
                                <td>تفاصيل المهمة</td>
                                <td>{{task.content}}</td>
                            </tr>
                            <tr>
                                <td>الحد الأقصى للتحذيرات</td>
                                <td>{{task.warn}}</td>
                            </tr>
                            <tr>
                                <td class="fit">مقدار الحسم عند الوصول للحد الاقصي للتحذيرات</td>
                                <td>{{task.deduction}} ريال سعودي</td>
                            </tr>
                            <tr>
                                <td>مقدار الحسم عند إغلاق المهمة تلقائياً</td>
                                <td>{{task.deductionOnAutoClose}} ريال سعودي</td>
                            </tr>
                            <tr>
                                <td>تاريخ الإنشاء</td>
                                <td>{{task.startDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                </td>
                            </tr>
                            <tr>
                                <td>تاريخ التسليم</td>
                                <td>{{task.endDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                </td>
                            </tr>
                            <tr>
                                <td>جهة التكليف</td>
                                <td>{{task.person.nickname}} / {{task.person.name}}</td>
                            </tr>
                            <tr>
                                <td>الموظفون</td>
                                <td>
                                    <span class="label label-info"
                                          ng-repeat="to in task.taskTos"
                                          style="margin: 2px">{{to.person.name}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-md-12">
                <div class="alert alert-info" role="alert">
                    <strong>سيتم تمديد تاريخ الاستلام للمهمة حسب عدد الأيام المدخلة، وسيتم فتح هذة المهمة عند كل
                        المكلفين واستكمال التعقيب عليها فى حال كانت المهمة مغلقة</strong>
                </div>
            </div>

            <div class="form-group text-right col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>البيانات المطلوبة</h3>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group text-right col-sm-12">
                            <label for="deduction" class="control-label"> عدد الأيام الاضافية </label>
                            <div dir="ltr" class="input-group" id="deduction">
                                <span class="input-group-addon">يوم</span>
                                <input focus-index="1"
                                       dir="rtl"
                                       type="number"
                                       min="0"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control text-right "
                                       ng-model="buffer.days">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="form-group col-md-12" role="group">
            <button type="button"
                    focus-index="3"
                    ng-click="cancel()"
                    class="btn btn-danger pull-left">
                <span>خروج</span>
                <i class="fa fa-power-off  fa-lg"></i>
            </button>
            <button type="submit"
                    focus-index="2"
                    class="btn btn-success pull-right">
                <span>حفظ</span>
                <i class="fa fa-save fa-lg"></i>
            </button>
        </div>

    </div>

</form>