<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-md-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group text-right col-md-12" ng-show="action=='create'">
                <label for="master" class="control-label">
                    <span>الموظفون</span>
                    <span class="fa fa-info-circle" tooltip-append-to-body="true" uib-tooltip="يمكنك تكليف عدد غير محدود من الموظفين بنفس المهمة"></span>
                </label>
                <select id="master"
                        data-placeholder="ابحث عن البريد الإلكتروني"
                        no-results-text="'لا توجد بيانات توافق بحثك'"
                        placeholder-text-multiple="'اختر الحساب الشخصي'"
                        class="form-control text-right"
                        chosen=""
                        multiple
                        ng-model="toPersonList"
                        ng-required="action=='create'"
                        disable-validation-message=""
                        focus-index="1"
                        ng-options="person.name for person in persons track by person.id">
                </select>
            </div>

            <div class="form-group text-right col-sm-12">
                <label for="title" class="control-label"> عنوان المهمة </label>
                <input id="title"
                       focus-index="2"
                       type="text"
                       class="form-control text-right"
                       required="required"
                       disable-validation-message=""
                       ng-model="task.title">
            </div>

            <div class="form-group text-right col-md-12">
                <label for="note" class="control-label">تفاصيل المهمة</label>
                <textarea id="note"
                          type="text"
                          focus-index="3"
                          msd-elastic="\n"
                          required="required"
                          class="form-control text-right"
                          disable-validation-message=""
                          placeholder="تفاصيل المهمة"
                          ng-model="task.content">
                </textarea>
            </div>

            <div class="form-group text-right col-sm-12">
                <label for="warn" class="control-label"> الحد الأقصى للتحذيرات </label>
                <input id="warn"
                       focus-index="4"
                       type="number"
                       min="0"
                       class="form-control text-right"
                       required="required"
                       disable-validation-message=""
                       ng-model="task.warn">
            </div>

            <div class="form-group text-right col-sm-12">
                <label for="deduction" class="control-label"> مقدار الحسم </label>
                <div dir="ltr" class="input-group" id="deduction">
                    <span class="input-group-addon">ريال</span>
                    <input focus-index="5"
                           dir="rtl"
                           type="number"
                           min="0"
                           required="required"
                           disable-validation-message=""
                           class="form-control text-right "
                           ng-model="task.deduction">
                </div>
            </div>

            <div class="form-group text-right col-sm-12">
                <label for="endDate" class="control-label">تاريخ التسليم</label>
                <div dir="ltr" class="input-group">
                    <input dir="rtl"
                           id="endDate"
                           type="text"
                           focus-index="6"
                           class="form-control text-right is-calendarPicker"
                           ng-model="task.endDate"
                           required="required"
                           calendarType="ummalqura"
                           language="en"
                           dateFormat="yyyy/mm/dd"
                           showOnFocus="false"
                           readonly="readonly"
                           kdatepicker
                           disable-validation-message="">
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="form-group col-md-12" role="group">
            <button type="button"
                    focus-index="10"
                    ng-click="cancel()"
                    class="btn btn-danger pull-left">
                <span>خروج</span>
                <i class="fa fa-power-off  fa-lg"></i>
            </button>
            <button type="button"
                    focus-index="9"
                    ng-click="clear()"
                    class="btn btn-info pull-left">
                <span>مسح الحقول</span>
                <i class="fa fa-recycle  fa-lg"></i>
            </button>
            <button ng-show="action=='update'"
                    type="submit"
                    focus-index="8"
                    class="btn btn-warning pull-right">
                <span>تعديل</span>
                <i class="fa fa-edit fa-lg"></i>
            </button>
            <button ng-show="action=='create'"
                    type="submit"
                    focus-index="7"
                    class="btn btn-success pull-right">
                <span>اضافة</span>
                <i class="fa fa-plus-square fa-lg"></i>
            </button>
        </div>

    </div>

</form>