<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                <li class="mdl-menu__item" ng-click="goToHelp()">
                    <span>المساعدة</span>
                </li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                    <span>الملف الشخصي</span>
                </li>
                <li class="mdl-menu__item" ng-click="logout()">
                    <span>تسجيل الخروج</span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div class="row" dir="rtl" style="margin-top: 10px">

            <div class="container">

                <div class="form-group row">

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
                        <a href="" ng-click="goToHome()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">dashboard</i>
                            <p>الرئيسية</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_COMPANY_CREATE', 'ROLE_COMPANY_UPDATE', 'ROLE_COMPANY_DELETE', 'ROLE_COMPANY_REPORT'])">
                        <a href="" ng-click="goToCompany()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">account_balance</i>
                            <p>الشركات</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_REGION_CREATE', 'ROLE_REGION_UPDATE', 'ROLE_REGION_DELETE', 'ROLE_REGION_REPORT'])">
                        <a href="" ng-click="goToRegion()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">place</i>
                            <p>المناطق</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_BRANCH_CREATE', 'ROLE_BRANCH_UPDATE', 'ROLE_BRANCH_DELETE', 'ROLE_BRANCH_REPORT'])">
                        <a href="" ng-click="goToBranch()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">layers</i>
                            <p>الفروع</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_DEPARTMENT_CREATE', 'ROLE_DEPARTMENT_UPDATE', 'ROLE_DEPARTMENT_DELETE', 'ROLE_DEPARTMENT_REPORT'])">
                        <a href="" ng-click="goToDepartment()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">store</i>
                            <p>الأقسام</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_EMPLOYEE_CREATE', 'ROLE_EMPLOYEE_UPDATE', 'ROLE_EMPLOYEE_DELETE', 'ROLE_EMPLOYEE_REPORT'])">
                        <a href="" ng-click="goToEmployee()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">group</i>
                            <p>الموظفون</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE', 'ROLE_TEAM_REPORT'])">
                        <a href="" ng-click="goToTeam()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">settings_input_composite</i>
                            <p>الصلاحيات</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_PERSON_CREATE', 'ROLE_PERSON_UPDATE', 'ROLE_PERSON_DELETE', 'ROLE_PERSON_REPORT'])">
                        <a href="" ng-click="goToPerson()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">lock</i>
                            <p>المستخدمون</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_TASK_CREATE', 'ROLE_TASK_UPDATE', 'ROLE_TASK_DELETE', 'ROLE_TASK_REPORT'])">
                        <a href="" ng-click="goToTask()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">assignment</i>
                            <p>المهام</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
                        <a href="" ng-click="goToReportModel()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">print</i>
                            <p>نماذج الطباعة</p>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </main>

</div>